html {
    cursor: default !important;
}

body {
    font: 14px "PingFangSC-Light";
    min-width: 875px;
    margin: 0;
}


body.lock {
    overflow: hidden;
}

#asd {
    @import "root";
    @import "components/chat";
}

* {
    box-sizing: border-box;
}

.panel {
    position: relative;
    height: 100%;
    // min-height: 100vh;
    margin: 0;
    border: none;
    box-shadow: none;
}

/* some common attr */
button:focus,
button:active,
input:focus,
input:active {
    outline: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
ul,ol{
    list-style: none;
}
input,textarea{
    outline: none;
}
figure {
    margin: 0;
}