.root {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  // justify-content: center;

  > .body {
    width: calc(100% - 300px - 7vw);
    margin-left: 3vw;
  }

  // common in project
  button {
    margin-left: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus, &:hover {
      text-decoration: none;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    }
    &:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }
}