$offsuits: a b c d;
$dict: (
  a: 0,
  b: 1,
  c: 2,
  d: 3
);
$cardWidth: 83.5777777px;
$cardHeight: 121.755555px;
$retract: 16px;

.game-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  height: 100%;
  padding: 12px;
  
  // main box
  .box {
    width: 100%;
    height: 100%;
    // background-color: rgba(0,0,255, .2);
    position: relative;

    .card-box {
      position: absolute;
      height: #{$cardHeight};

      .cards {
        // width: #{$cardWidth};
        display: block;
        position: relative;

        .card-wrap {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  // cards
  .cards_v2 {
    // width: #{$cardWidth};
    width: #{$cardWidth + 128};
    height: 100%;
    position: relative;
    
    .card-wrap {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .card-wrap {
    width: $cardWidth;
    height: $cardHeight;
    display: flex;
    // margin: 10px; // tmp
    perspective: 100px;

    .card.self {
      cursor: pointer;  
    }
    .card {
      flex: 1;
      background-size: 1088px auto!important;
      background-image: url('../static/images/poker.png');
      border-radius: 5px;
      box-shadow: 0 0 0 2px rgba(0,0,20,.8), 0 0 5px 5px rgba(0,0,20,.2);
      
      // default: bg
      background-position: -($cardWidth * 2) $cardHeight;
      transition: box-shadow .2s;
    }

    .card.bg.joker {
      background-position: 0 $cardHeight;
    }
    .card.bg.joker-l {
      background-position: -$cardWidth $cardHeight;
    }
    .card.bg.gradient {
      background: linear-gradient(-90deg, rgba(255,0,0,.7), rgba(0,0,255,.8));
    }

    @for $i from 1 through 13 {
      @each $color in $offsuits {

        $width: $cardWidth * ($i - 1);
        $height: map-get($dict, $color) * $cardHeight;
        
        .card.#{$color}#{$i} {
          @if $color == 'b' {
              background-position: -($width + .25) -(#{$height});
          }
          @else if $color == 'd' {
              background-position: -$width -(#{$height - .8});
          }
          @else{
              background-position: -$width -(#{$height});
          }
        }
      }
    }
  }
}